<div class="container">
  <div class="header-container">
    <div class="upload-new-version-container">
      <label>Загрузить новую версию:</label>
      <div class="file-uploader-container">
        <app-file-uploader class="file-uploader" [formControl]="control"/>
        <button tuiIconButton iconStart="@tui.check" appearance="positive" (click)="createCheck()"
                [loading]="loading | async" [disabled]="!(this.control.valueChanges | async)"></button>
      </div>
    </div>
  </div>
</div>
