.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .comments-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .comment-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: start;

      .content-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      p {
        margin: 0;
      }
    }

    .status-container {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;

      .fixed {
        color: var(--tui-text-positive);
      }
      .open {
        color: var(--tui-text-negative);
      }
    }
  }

  .group {
    .input-field {
      flex-grow: 100;
    }
  }
}
