<div class="container">
  @for (comment of issue().comments | orderByCreatedAt; track comment.id) {
    <div class="comment-container">
      <tui-avatar [src]="comment.userId | avatarByUserId" size="m"/>
      <div class="content-container">
        @if (comment.content) {
          <div [innerHtml]="comment.content"></div>
        }
        @switch (comment.status) {
          @case ('Fixed') {
            <i>Ошибка отмечена как исправленная</i>
          }
          @case ('Closed') {
            <i>Ошибка закрыта</i>
          }
          @case ('Open') {
            @if (comment.userId != "00000000-0000-0000-0000-000000000000") {
              <i>Ошибка переоткрыта</i>
            }
          }
        }
      </div>
    </div>
  }
  <div tuiGroup class="group" orientation="horizontal">
    <tui-textfield class="input-field">
      <input placeholder="Ваш комментарий" tuiTextfield [formControl]="control"/>
    </tui-textfield>
    <button tuiButton iconStart="@tui.send"
            tuiTooltip="Отправить" [disabled]="!(control.valueChanges | async)"
            [loading]="loading | async" (click)="addComment()"></button>
  </div>
</div>
