.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .comment-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: start;

    .content-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    p {
      margin: 0;
    }
  }

  .group {
    .input-field {
      flex-grow: 100;
    }
  }
}
