.container {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  align-items: center;
  width: 100%;

  .info-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
    overflow-x: hidden;
    align-items: start;

    .issue-chapter {
      font-size: 0.8rem;
      font-weight: normal;
    }
  }
}
