<div class="container">
  @if (issue().status == 'Open') {
    <tui-icon [appearance]="issue() | issueAppearance" [icon]="issue() | issueIcon" size="xl"
              tuiBadge/>
  } @else {
    <tui-icon [appearance]="issue() | issueAppearance" [icon]="issue().status == 'Fixed' ? '@tui.check' : '@tui.x'"
              size="xl" tuiBadge/>
  }
  <div class="info-container">
    <div class="issue-title no-margin" [innerHtml]="issue().title"></div>
    <div class="issue-chapter">{{ getChapter() }}</div>
  </div>
  @if (commentsCount() > 1) {
    <div class="comments-counter">
      <div>{{ commentsCount() }}</div>
      <tui-icon icon="@tui.messages-square"/>
    </div>
  }
  @if (issue().unreadCount > 0) {
    <tui-badge-notification size="s" tuiAppearance="primary"></tui-badge-notification>
  }
  @if (issue().status == 'Open') {
    <button tuiButton iconStart="@tui.check" appearance="positive" [loading]="loading | async"
            (click)="addComment('Fixed')" size="s"></button>
    <button tuiButton iconStart="@tui.x" appearance="negative" [loading]="loading | async"
            (click)="addComment('Closed')" size="s"></button>
  } @else {
    <button tuiButton iconStart="@tui.book-open" appearance="neutral" [loading]="loading | async"
            (click)="addComment('Open')" size="s"></button>
  }
</div>
