.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .header-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    .progress-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
    }

    .right-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
    }
  }

  .scroll-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .issues-container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 0.5rem;

      .issue-card {
        padding: 0.5rem 1rem;

        button {
          margin: 0;
          inline-size: auto;
        }
      }
    }
  }
}
