.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .header-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    .title-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .progress-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
      }
    }

    .upload-new-version-container {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      max-width: 25rem;

      .file-uploader-container {
        display: flex;
        flex-direction: row;
        gap: 0.6rem;

        .file-uploader {
          flex-grow: 1;
        }
      }
    }
  }

  .issue-header {
    padding: 1rem;
    height: 4.5rem;

    .header-content {
      flex-grow: 1;
    }
  }
}
