.container {
  display: flex;
  flex-direction: column;
  gap: 0;

  .path {
    flex-grow: 1;
    overflow-x: auto;
  }

  .body-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;

    .header-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;

      .progress-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
      }

      .right-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
      }
    }

    .issues-container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 0.5rem;

      .issue-card {
        padding: 0.5rem 1rem;
      }
    }
  }
}
