.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .header-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    .progress-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
    }
  }

  .issue-header {
    padding: 1rem;
    height: 4.5rem;
    display: flex;
    flex-direction: row;

    .header-content {
      width: 100%;
    }
  }
}
