.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    h2 {
      flex-grow: 1;
    }
  }
}
