.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: start;
    }

    .side-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
  }
}
