.container {
  display: flex;
  flex-direction: column;
  gap: 0;

  .path {
    flex-grow: 1;
    overflow-x: auto;
  }

  .body-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;

    .header-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;

      @media (max-width: 600px) {
        flex-direction: column;
        align-items: start;
      }

      .side-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }
    }

    .navigation-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: space-between;
    }
  }
}
