<div class="container">
  <app-header>
    <tui-breadcrumbs size="l" class="path">
      @let report = selectedReport$ | async;
      @if (report) {
        <ng-container>
          <a *tuiItem tuiLink routerLink=".." iconStart="@tui.book">{{ report.name }}</a>
        </ng-container>
      }
        <ng-container>
          <a *tuiItem tuiLink routerLink="." iconStart="@tui.settings">Настройки</a>
        </ng-container>
    </tui-breadcrumbs>
  </app-header>
  <tui-scrollbar>
    <div class="body-container page-padding">
      <div class="section-header">
        <h3>Инструкции</h3>
        <button tuiButton iconStart="@tui.plus" (click)="addInstruction()" appearance="flat">Добавить</button>
      </div>
      @for (instruction of instructions$ | async; track instruction.id) {
        <app-instruction-input [instruction]="instruction"/>
      }

      <div class="section-header">
        <h3>Управление</h3>
      </div>
      <button tuiButton appearance="outline-destructive" iconStart="@tui.trash" (click)="deleteReport()">Удалить отчет
      </button>

    </div>
  </tui-scrollbar>
</div>
