.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .path {
    flex-grow: 1;
    overflow-x: auto;
  }

  .body-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .section-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;
    }
  }
}
