<div class="container page-padding">
  <div class="buttons-container">
    @let limits = limits$ | async;
    <button tuiButton routerLink="new" iconStart="@tui.plus" [disabled]="limits?.reportsLimit | limitReached">
      Добавить
    </button>
    @if (limits) {
      <app-subscription-limit [limit]="limits.reportsLimit"/>
    }
  </div>
  <div class="reports-container">
    @for (report of reports$ | async; track report.id) {
      <a tuiCardLarge tuiHeader tuiSurface="floating" [routerLink]="report.id">
        <h3>{{ report.name }}</h3>
      </a>
    }
  </div>
</div>
