.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    padding: 0 0.5rem;
    @media (min-width: 600px) {
      padding: 0 5rem;
    }
  }

  .reports-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;

    padding: 0 0.5rem;
    @media (min-width: 600px) {
      padding: 0 5rem;
    }
  }
}
