.container {
  display: flex;
  flex-direction: column;

  .title {
    margin: 0;
  }

  .providers-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 1rem;
    justify-content: center;

    .source-provider-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.6rem;
      width: 15rem;

      .subtitle {
        text-wrap: wrap;
      }
    }
  }
}
