<div class="container page-sized">
  <app-header>
    <h2 class="title">Новый отчет</h2>
  </app-header>
  <tui-scrollbar>
    @switch (selectedProvider?.key) {
      @case (null) {
        <div class="providers-container page-padding body-padding">
          @for (sourceProvider of sourceProviders$; track sourceProvider.key) {
            <button tuiCardLarge tuiAppearance="flat-grayscale" class="source-provider-container"
                    (click)="selectProvider(sourceProvider)">
              <tui-avatar size="xxl" [src]="sourceProvider.icon"/>
              <span tuiTitle>
            <b>{{ sourceProvider.name }}</b>
            <span tuiSubtitle class="subtitle">{{ sourceProvider.description }}</span>
          </span>
            </button>
          }
        </div>
      }
      @case ('File') {
        <app-file-sp-options />
      }
      @case ('GitHub') {
        <app-github-sp-options />
      }
    }
  </tui-scrollbar>
</div>
