.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .providers-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
    width: 20rem;
  }
}
