.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .providers-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
    width: 20rem;

    .provider-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;

      .h-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        .username {
          flex-grow: 1;
        }
      }
    }
  }
}
