.page-padding {
  padding: 1rem 0.5rem;
  @media (min-width: 600px) {
    padding: 1rem 5rem;
  }
}

.diff-del {
  background-color: var(--tui-status-negative-pale-hover);
}

.diff-ins {
  background-color: var(--tui-status-positive-pale-hover);
}

.no-margin {
  * {
    margin: 0;
  }
}

html, body {
  background-color: #222222;
}
