.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .error-code {
    font-size: 6rem;
  }

  .error-name {
    font-size: 2rem;
  }

  * {
    text-align: center;
    margin: 0;
  }
}
