<div class="container page-sized">
  <app-header>
    <div class="path-container">
      @let report = selectedReport$ | async;
      @if (report) {
        <a tuiButton size="m" appearance="flat" routerLinkActive="active-item" [routerLinkActiveOptions]="options"
           routerLink=".">{{ report.name }}</a>
      }

      /

      @let issue = selectedIssue$ | async;
      @if (issue) {
        <a tuiButton size="m" routerLinkActive="active-item" [routerLinkActiveOptions]="options" appearance="flat"
           [routerLink]="'issues/' + issue.id">{{ issue.title }}</a>
      }

      <a tuiButton size="m" routerLinkActive="active-item" [routerLinkActiveOptions]="options" appearance="flat"
         routerLink="./settings" iconStart="@tui.settings">Настройки</a>
    </div>
  </app-header>
  <tui-scrollbar>
    <router-outlet/>
  </tui-scrollbar>
</div>
