.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .header-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    h2 {
      flex-grow: 1;
    }
  }
}
