.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .path-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    overflow-x: auto;

    .path-item-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      a {
        display: inherit;
      }
    }

    a {
      display: none;
    }

    .active-item {
      display: inherit;
    }
  }
}
