.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.6rem !important;
  align-items: center !important;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  .offers-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    .h-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.6rem;

      .offer-card {
        flex-grow: 1;
      }
    }
  }
}
