<div class="container">
  <div class="header-container">
    @let routerLink = routerLink$ | async;
    <div class="logo" [routerLink]="routerLink">
      <tui-avatar src="favicon.svg"/>
      @if (showTitle$ | async) {
        <h1 [routerLink]="routerLink">ReportChecker</h1>
      }
    </div>

    <tui-scrollbar class="path">
      <tui-breadcrumbs size="l">
        @for (itemObservable of items$ | async; track itemObservable) {
          <ng-container>
            @let item = itemObservable | async;
            <a *tuiItem tuiLink [routerLink]="item?.link" [iconStart]="item?.icon" [innerHTML]="item?.name"></a>
          </ng-container>
        }
      </tui-breadcrumbs>
    </tui-scrollbar>

    @let userInfo = userInfo$ | async;
    @if (userInfo) {
      <button tuiButton class="account-button account-button-desktop" [tuiDropdown]="content" tuiDropdownOpen
              tuiDropdownAlign="right" appearance="secondary">
        <tui-avatar [src]="userInfo?.avatarUrl" size="m"/>
        <label>{{ userInfo?.name }}</label>
      </button>
    } @else {
      <a tuiButton class="account-button" routerLink="/auth" appearance="secondary">
        <tui-icon icon="@tui.log-in"/>
        <label>Войти</label>
      </a>
    }
    <a tuiButton class="account-button account-button-mobile" routerLink="/auth" appearance="secondary">
      @if (userInfo) {
        <tui-avatar [src]="userInfo?.avatarUrl" size="m"/>
        <label>{{ userInfo?.name }}</label>
      } @else {
        <tui-icon icon="@tui.log-in"/>
        <label>Войти</label>
      }
    </a>
  </div>
</div>

<ng-template #content>
  <tui-data-list>
    <tui-opt-group>
      <div class="subscriptions-container">
        @let current = currentSubscription$ | async;
        @if (current) {
          <div class="h-container">
            @if (current?.active) {
              @let plan = current?.active?.planId | subscriptionPlanById | async;
              <tui-badge appearance="primary" size="xl">{{ plan?.name ?? "????" }}</tui-badge>
              <label tuiLabel>Действует до {{ currentEndsAt$ | async | asDay }}</label>
            } @else {
              <tui-badge appearance="primary" size="xl">Free</tui-badge>
            }
            <a tuiIconButton iconStart="@tui.arrow-up-from-line" appearance="accent" size="m"
               routerLink="/subscriptions"></a>
          </div>
          <app-subscription-limit name="Токены" [limit]="current.tokensLimit" [percentages]="true"/>
          <div class="h-container">
            <label tuiLabel>Сброс лимита {{ resetLimitsAt$ | async | asDay }}</label>
            <a tuiIconButton iconStart="@tui.chart-line" routerLink="/statistics" size="m" appearance="flat"></a>
          </div>
        }
      </div>
    </tui-opt-group>
    @if (isAdmin$ | async) {
      <tui-opt-group>
        <a tuiOption tuiAppearance="flat-grayscale" routerLink="admin/models">Админ</a>
      </tui-opt-group>
    }
    <tui-opt-group>
      <a tuiOption tuiAppearance="flat-grayscale" routerLink="/auth">Добавить аккаунт</a>
      <button tuiOption tuiAppearance="flat-destructive" (click)="logOut()">Выйти</button>
    </tui-opt-group>
  </tui-data-list>
</ng-template>
