.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  justify-content: space-between;
  background: var(--tui-background-base-alt);
  border-radius: 0  0 2rem 2rem;
  border: 1px solid var(--tui-border-normal);
  border-top: none;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    h1 {
      margin: 0;
    }
  }

  @media (min-width: 600px) {
    margin: 0 4rem;
  }

  .account-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    @media (max-width: 600px) {
      label {
        display: none;
      }
    }
  }

}
