.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .top-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    label {
      flex-grow: 1;
    }
  }

  .progress-bar.positive {
    color: var(--tui-status-positive);
  }

  .progress-bar.negative {
    color: var(--tui-status-negative);
  }

  .progress-bar.warning {
    color: var(--tui-status-warning);
  }
}
